
 .footer {
     padding: 1rem;
     display: flex;
     justify-content: space-between;
     background-color: #333;
     color: white;
     text-align: center;
     position: relative;
     overflow: hidden;
     animation: pulse 5s;
 }

.quote{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
}

.quote p:hover{
    transition:pulse;
}

 .social-media {
     display: flex;
     gap: 1rem;
 }

 .social-media a {
     color: white;
     font-size: 1.5rem;
     transition: transform 0.3s ease, color 0.3s ease;
 }

 .social-media a:hover {
     color: #ff6f61;
     transform: scale(1.2) rotate(10deg);
 }


 @keyframes pulse {
     0% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.05);
     }

     100% {
         transform: scale(1);
     }
 }

 .footer::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.3);
     z-index: -1;
     transition: opacity 0.5s ease;
     opacity: 0.5;
     animation: pulse 5s alternate-reverse;
 }

 .footer:hover::before {
     opacity: 0.8;
 }